<div class="container">
    <h2>Products</h2>            
    <table class="table table-striped">
      <thead>
        <tr class="head">
            <th></th>
          <th><b>Name</b></th>
          <th><b>Price</b></th>
          <th><b>Units in stock</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of products">
         <td><img src="{{x.image_url}}" height="30px" width="30px"></td>
          <td>{{x.name}}:</td>
          <td>{{x.unitPrice | currency:'USD'}}</td>
          <td>{{x.unitsInStock}}</td>
        </tr>
      </tbody>
    </table>