<div class="col-md-3">
      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
          <a href="#">
            <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
          </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
          <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar-list">
              <li *ngFor="let productmenu of Productcatagory"> 
                <a routerLink="/category/{{productmenu.id}}">
                {{productmenu.categoryName}}
              </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
</div>